@model oagum0._01.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
           

        </div>
    </div>
}
<input id="submit" class="btn btn-default" value="Register" />
<h2 id="registerResult">
    
</h2>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function (e) {
            var jsonString = {
                "UserName": $('#UserName').val(),
                "Password": $('#Password').val()
            };
            $.ajax({
                type: "POST",
                url: "/Account/RegisterUser",
                data: JSON.stringify(jsonString),
                dataType: "json",
                contentType: "application/json",
                success: function (returnData){
                    if(returnData == "")
                    {
                       
                        $('#registerResult').text("User successfully registered!")
                    }
                    else
                    {
                        
                        $('#registerResult').text(returnData)
                    }
               
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(textStatus + " / " + errorThrown)
                    alert(jsonString.Password + jsonString.UserName)
                }
            });
        })
    })

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
