@*@model IEnumerable<oagum0._01.Models.T_Article>*@
@model PagedList.IPagedList<oagum0._01.Models.T_Article>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Results";
    var searchcount = ViewBag.SearchCount;
}

<div>
    @Html.Partial("_Search")
</div>
<div>
    <h2>Results</h2>
    <p>
        @searchcount articles found
    </p>
</div>

<table class="table">
    @foreach (var item in Model)
    {
        @Html.Partial("_SearchResults", item)
    }
</table>

<br />

<iframe height="400" width="900" hidden="hidden" src="" id="pdfcontent">

</iframe>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNo => Url.Action("Results",
    new { pageNo, FilterString = ViewBag.FilterString }))

@*@section Scripts {
        <div class="pagination-holder clearfix">
            <div id="compact-pagination" class="compact-theme simple-pagination">

            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('.pagination-holder').pagination({
                    items: 100,
                    itemsOnPage: 10,
                    cssStyle: 'light-theme'
                });
            });
        </script>
    }*@




<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('a').click(function (e) {
            e.preventDefault();
            $('#pdfcontent').attr('src', $(this).attr('href')).show();
            $('html, body').animate({
                scrollTop: $("#pdfcontent").offset().top
            }, 1000);
        })
    })
</script>


 


