@*@model IEnumerable<oagum0._01.Models.T_Article>*@
@model PagedList.IPagedList<oagum0._01.Models.T_Article>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Results";
    var searchcount = ViewBag.SearchCount;
}

<div>
    @Html.Partial("_Search")
</div>
<div>
    <h2>Results</h2>
    <p>
        @searchcount articles found
    </p>
</div>

<table class="table">
    @foreach (var item in Model)
    {
        @Html.Partial("_SearchResults", item)
    }
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNo => Url.Action("Results",
    new { pageNo, FilterString = ViewBag.FilterString }))

@*@section Scripts {
        <div class="pagination-holder clearfix">
            <div id="compact-pagination" class="compact-theme simple-pagination">

            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('.pagination-holder').pagination({
                    items: 100,
                    itemsOnPage: 10,
                    cssStyle: 'light-theme'
                });
            });
        </script>
    }*@
